In [2]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_test.csv')

ModuleNotFoundError: No module named 'pandas'

1. Определить какое максимальное и минимальное
значение median_house_value
2. Показать максимальное median_house_value, где
median_income = 3.1250
3. Узнать какая максимальная population в зоне
минимального значения median_house_value

In [ ]:
df['median_house_value'].max()

NameError: name 'df' is not defined

In [ ]:
df['median_house_value'].min()

22500.0

In [ ]:
df[df['median_income'] == 3.1250]['median_house_value']

207     167100.0
784     233300.0
904     156300.0
1908    219900.0
Name: median_house_value, dtype: float64

In [ ]:
min = df['median_house_value'].min()
print(min)

22500.0

In [ ]:
df[df['median_house_value'] == min]['population'].max()

1230.0